/* You're welcome to change any of this! */
* 
main {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
       "p1 p1 p1"
       "p2 p3 p4"; 

       min-height: 100vh;
       height: 100%;
       row-gap: 0px;
        column-gap: 0px;
 }

.header {
     grid-area: p1;
     background-color: #d4956b;
 }

 .tutorials {
     grid-area: p2;
     background-color: #16697A;
 }

 .homework {
     grid-area: p3;
     background-color: #489FB5;
 }

 .inspiration {
     grid-area: p4;
     background-color: #82C0CC;
 }

body {
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 2.3em;
    font-weight: bold;
    font-style: oblique;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 3.5em;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
 
    Justify-items: center;
    justify-self: flex-end;
    font-size: 1.8em;
    font-weight: bold;
    padding: 25px;
    border: solid 1px rgb(11, 16, 24);
    background-color: #242daf;
    color: rgb(190, 128, 11);
    border-radius: 20px;
    font-family: monospace;
    letter-spacing: 0.05em;
}


.tutorial01 {
    justify-items: center;
    justify-self: stretch;
   padding: 30px;
}

.tutorial02 {
    justify-content: center;
    padding: 30px;
}

.tutorial05-1 {
    justify-content: center;
    padding: 30px;
}

.tutorial05-2 {
    justify-content: center;
    padding: 30px;
}

.homework02 {
    justify-content: center;
    padding: 30px;
}
