/* You're welcome to change any of this! */
* 
main {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
       "p1 p1 p1"
       "p2 p3 p4"; 

       min-height: 100vh;
       height: 100%;
       row-gap: 0px;
        column-gap: 0px;
 }

.header {
     grid-area: p1;
     background-color: #bbb5b1;
 }

 .tutorials {
     grid-area: p2;
     background-color: #16697A;
 }

 .homework {
     grid-area: p3;
     background-color: #489FB5;
 }

 .inspiration {
     grid-area: p4;
     background-color: #82C0CC;
 }

body {
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}
h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 3.5em;
    font-weight: bold;
}
a {
    display: flex;
    Justify-content: center;
    font-size: 1.6em;
    padding: 20px;
    border: solid 2px #000;
    background-color: #0a0d38;
    color: rgb(255, 72, 127);
}

